.dialogsItems{
    /* grid-area: d; */
    padding-left: 20px;
    }
    
.dialog a{
    display: block;
        text-decoration: none;
        border: 1px solid black;
        }

.dialog img{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            }