.users{
    display: flex;
    flex-direction: row;
}
/* 
.user{
} */

.user img{
    max-width: 70px;
    max-height: 70px;
}
.info{
    border: 1px solid black;
    border-right: 0px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.name{
    padding-right: 50px;
}

.selectedPage{
    padding: 2px 5px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.page{
    padding: 2px 5px;
    background-color: black;
    color: white;
}

.btns{
    margin-top: 5px;
}

.btns img{
    max-width: 40px;
    display: inline-block;
}

.followed{
    width: 70px;
}