  .header img{
    width: 60px;
  }

  .loginBlock{
    float: right;
  }

  .loginBlock a {
    color: black;
    text-decoration: none;
  }
  
.logoutBut{
  display: inline-block;
}

.photo{
  display: inline-block;
}

.photo img {
    width: 45px;
  }

  .mainCont{
    display: flex;
  }
  .cont{
    display: flex;
    flex-direction: column;
  }