.formData{
    background-color: rgba(108, 228, 236, 0.1)
}

.ava img{
    width: 150px;
    display: block;
}

.contacts{
    margin-left: 20px;
}

.fullname{
    font-size: 20px;
}

.mainWrapper{
    padding-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: row;
}

.info{
    margin-left: 10px;
}

.status{
    max-width: 120px;
}