.dialogs{
display: grid;
/* grid-template-areas: "d m"; */
grid-template-columns: 50px auto;
padding: 10px;
}

.myMessage{
    

}

.message{
}

.me img{
    width: 30px;
}

.notMe img{
    width: 30px;
}

.me{
    display: flex;
    justify-content: flex-end;
}

.me .text{
    background-color: rgba(44, 233, 247, 0.479);
    border-radius: 10px;
    padding: 10px;
    max-width: 250px;
}

.notMe .text{
    background-color: rgba(1, 13, 14, 0.479);
    border-radius: 10px;
    padding: 10px;
    max-width: 250px;
    color: white
}

.me .in{
}

.notMe{
    display: block;
}
/* .dialogsItems .active{

} */



.messages{
padding: 20px;
}

/* .messages .message{

} */

.textArea{
    width: 97%;
    border-radius: 10px;
    border: 0px solid black;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}

.time{
    font-size: 11px;
    text-align: right;
}