.dialogs{
display: grid;
/* grid-template-areas: "d m"; */
grid-template-columns: 200px auto;
}

.myMessage{
    padding-left: 200px;
}

.message{
    color: orange;
}


/* .dialogsItems .active{

} */



/* .messages{

} */

/* .messages .message{

} */