/* .mainWrapper{
  background-color: rgb(139, 175, 175);
} */

.mainWrapper .nav{
  padding: 10px;
}

.nav{
    grid-area: n;
    text-decoration: none;
  }

.nav a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px lightslategray;
}

.itemActive a{
  text-decoration: none;
  color: black;
}

.nav .active{
  font-weight: bold;
  color: black;
}