.nav{
    grid-area: n;
    background-color: rgb(139, 175, 175);
    text-decoration: none;
  }

/* .nav a{

} */

/* a.active{
  color: black;
} */

.item a{
  text-decoration: none;
  color: white;
}

.itemActive a{
  text-decoration: none;
  color: black;
}
