.nav{
    grid-area: n;
    background-color: rgb(139, 175, 175);
    text-decoration: none;
  }

.nav a{
  text-decoration: none;
  color: white;
}

a.active{
  color: black;
}

/* .item{
  text-decoration: none;
}

.item a.active{
  font-size: 20px;
} */

